<header class="w-full">
	<nav class="relative flex items-center justify-between px-4 py-4 text-white bg-project-blue" aria-label="Mobile Menu" >
		<div class="lg:hidden">
      <% if home === 'BURGER' %>
        <button class="flex items-center p-1 text-white navbar-burger">
          <svg class="block w-6 h-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      <% elsif home === 'BACK'%>
        <a class="text-3xl font-bold leading-none" href="/home">
          <svg class="block w-10 h-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"/> <path d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/> </g> </svg>
        </a>
      <% else %>
        <a class="text-3xl font-bold leading-none" href="/">
          <svg class="block w-10 h-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"/> <path d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/> </g> </svg>
        </a>
      <% end %>
		</div>
    <p class="font-bold text-center lg:hidden"><%= title %></p>
		<div class="flex items-center p-1 text-white lg:hidden">
      <% if msg === 'Login' %>
        <%= form.submit "Log in", class: "text-white actions cursor-pointer" %>
      <% elsif msg === 'Register' || msg === 'Next' %>
        <%= form.submit "Next", class: "text-white actions cursor-pointer" %>
      <% elsif msg === 'Search' %>
        <button class="flex items-center p-1 text-white cursor-pointer">
          <svg class="block w-10 h-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search">
            <g data-name="Layer 2">
              <path d="m20.71 19.29-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z" data-name="search"></path>
            </g>
          </svg>

        </button>
      <% end %>
		</div>
      <% if home === 'BACK' %>
        <a class="hidden lg:inline-block text-3xl font-bold leading-none" href="/home">
          <svg class="block w-10 h-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"/> <path d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/> </g> </svg>
        </a>
      <% end %>
		<ul class="absolute hidden transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
			<li><%= link_to "Home", groups_path , class: 'text-white hover:font-bold' %></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><%= link_to "New Category", new_group_path , class: 'text-white hover:font-bold' %></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><%= link_to "Transactions", spendings_path , class: 'text-white hover:font-bold' %></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><%= link_to "Add transaction", new_spending_path , class: 'text-white hover:font-bold' %></li>
		</ul>
    <% if user_signed_in? %>
      <%= button_to 'Sign out', destroy_user_session_path, form_class: 'hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200', method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: 'hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200'  %>
      <%= link_to "Sign up", new_user_registration_path, class: 'hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200'  %>
    <% end %>
	</nav>
	<div class="relative z-50 hidden navbar-menu">
		<div class="fixed inset-0 bg-gray-800 opacity-25 navbar-backdrop"></div>
		<nav class="fixed top-0 bottom-0 left-0 flex flex-col w-5/6 max-w-xs px-6 py-6 overflow-y-auto bg-white border-r" aria-label="Desktop Menu">
			<div class="flex items-center mb-8">
				<button class="navbar-close">
					<svg class="w-6 h-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div>
				<ul>
					<li class="mb-1">
            <%= link_to "Home", groups_path , class: 'block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-project-blue' %>
					</li>
					<li class="mb-1">
            <%= link_to "New Category", new_group_path , class: 'block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-project-blue' %>
					</li>
					<li class="mb-1">
						<%= link_to "Transactions", spendings_path , class: 'block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-project-blue' %>
					</li>
					<li class="mb-1">
						<%= link_to "New Transaction", new_spending_path , class: 'block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-project-blue' %>
					</li>
				</ul>
			</div>
			<div class="mt-auto">
				<div class="pt-6">
          <% if user_signed_in? %>
            <%= button_to 'Sign out', destroy_user_session_path, form_class: 'block px-4 py-3 mb-3 text-xs font-semibold leading-loose text-center bg-project-blue hover:bg-blue-600 text-white rounded-xl transition duration-200', method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, class: 'block px-4 py-3 mb-3 text-xs font-semibold leading-loose text-center bg-project-blue hover:bg-blue-600 text-white rounded-xl transition duration-200' %>
            <%= link_to "Sign up", new_user_registration_path, class: 'block px-4 py-3 mb-3 text-xs bg-gray-100 hover:bg-gray-200 text-sm text-project-text font-bold rounded-xl transition duration-200'  %>
          <% end %>
				</div>
				<p class="my-4 text-xs text-center text-gray-400">
					<span>Copyright © 2023</span>
				</p>
			</div>
		</nav>
	</div>
</header>
<div class="w-full">
  <p class="text-center notice text-project-text"><%= notice %></p>
  <p class="text-center text-red-600 alert"><%= alert %></p>
<div>

