
<div class="w-full">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "shared/nav_menu_header", title: 'LOGIN', home: false, msg: 'Login', form: f  %>
    <div class= 'w-full max-w-lg mx-auto mt-6 mb-4'>
      <div class="w-full max-w-lg mx-auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-full" %>
      </div>
      <div class="w-full max-w-lg mx-auto">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "w-full" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="m-auto mt-2 ml-2 text-project-text">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
  <% end %>
    <div class="flex justify-center w-full">
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'text-project-text cursor:pointer' %><br />
    </div>
</div>
